body{
    text-align: center;
    font-family: "Montserrat";
    margin: 0;
}

header{
    width: 100%;
    height: 100px;
    background-color: black;
}

nav{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    border-bottom: solid 1px silver;
    font-size: 21px;
}

ul, li{
    display: inline-block;
    margin: 0;
    margin: 10px 30px;
}

a{
    color: black;
}

.alink{
    position: relative;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding: 0 10px;
}

.alink:after{
    position: absolute;
    content: "";
    background-color: black;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.alink:hover:after{
    width: 100%;
}

.alink2{
    text-decoration: underline;
}

.b2{
    margin-top: 200px;
}

.p1{
    font-size: 18px;
}

.label1{
    margin-right: 267px;
    user-select: none;
}

.label2{
    margin-right: 267px;
    user-select: none;
}

.label3{
    margin-right: 230px;
    user-select: none;
}

.label4{
    margin-right: 293px;
    user-select: none;
}

.div1{
    margin-right: 135px;
}

.label5{
    margin-right: 306px;
    user-select: none;
}

.label6{
    margin-right: 275px;
    user-select: none;
}

.label7{
    margin-right: 213px;
    user-select: none;
}

form{
    margin-top: 60px;
}

.inp{
    width: 350px;
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border: solid 0.5px #e7e7e7;
    padding-left: 5px;
    margin-bottom: -6px;
}

.btn{
    width: 360px;
    height: 44px;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 2px;
    text-indent: 3px;
    color: #ffffff;
    background-color: #5c5c5c; 
    border: solid 0.5px #e7e7e7;
    transition: background-color 0.30s;
}

.btn:hover{
    color: #5c5c5c; 
    background-color: white;
    cursor: pointer;   
}