body{
    text-align: center;
    font-family: "Montserrat";
    margin: 0;
}

header{
    /* parent */
    position: absolute;
    top: 0;

    width: 100%;
    height: 45px;
    background-color: black;
    color: white;
    letter-spacing: 3px;
    text-indent: 3px;
    background-color: black;
    /* making text unselectable */
    user-select: none;
}

.title{
    /* child */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    text-decoration: none;
    font-size: 14px;
}

.div1{
    margin-top: 109px;
}

.ha{
    font-size: 36px;
    font-family: "Hyperspace Race";
    /* making text unselectable */
    user-select: none;
    text-decoration: none;
    color: black;
}

nav{
    width: 100%;
    height: 73px;
    border-bottom: solid 1px #e7e7e7;
    margin-top: 20px;
}

ul, li{
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    margin: 18.1px 20px;
    margin-right: 39px;
}

nav a{
    position: relative;
    color: #5c5c5c;
    text-decoration: none;
    padding: 0;
}

nav a:after{
    content: "";
    position: absolute;
    background-color: #313131;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav a:hover{
    color: #313131;
}

nav a:hover:after{
    width: 100%;
}

.div2{
    width: 90%;
    margin-left: 78.5px;
}

.container{
    width: 100%;
    display: inline-block;
    margin-top: 60px;
}

.flower1, .flower2, .flower3, .flower4{
    display: inline-block;
    width: 250px;
    height: 200px;
    line-height: 190px;
    border: solid 1px #313131;
    cursor: pointer;
}

.flower1:hover{
    box-shadow: 1px 1px 10px #797979;
    transition: 0.2s;
}

.flower2:hover{
    box-shadow: 1px 1px 10px #797979;
    transition: 0.2s;
}

.flower3:hover{
    box-shadow: 1px 1px 10px #797979;
    transition: 0.2s;
}

.flower4:hover{
    box-shadow: 1px 1px 10px #797979;
    transition: 0.2s;
}

.flowera{
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-top: 100px;
}

.price1{
    display: block;
    position: absolute;
    left: 400px;
    bottom: 100px;
}

.price2{
    display: block;
    position: absolute;
    left: 673px;
    bottom: 100px;
}

.price3{
    display: block;
    position: absolute;
    left: 947px;
    bottom: 100px;
}

.price4{
    display: block;
    position: absolute;
    left: 673px;
    bottom: 100px;
}

.price5{
    display: block;
    position: absolute;
    left: 535px;
    bottom: 100px;
}

.price6{
    display: block;
    position: absolute;
    left: 810px;
    bottom: 100px;
}

.btn1{
    width: 120px;
    height: 35px;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 2px;
    text-indent: 3px;
    border: solid 0.5px #e7e7e7;
    color: #ffffff;
    background-color: #5c5c5c; 
    transition: background-color 0.30s;
}

.btn1:hover{
    color: #5c5c5c; 
    background-color: white;
    cursor: pointer;   
}

.inp{
    width: 350px;
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border: solid 0.5px #e7e7e7;
    padding-left: 5px;
    margin-bottom: -6px;
}

.img{
    width: 100%;
    height: 100hv;
    margin-top: 1px;
}