body{
    margin: 0;
    font-family: "Montserrat";
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

.topbar{
    position: absolute; 
    margin-top: 17px;
    margin-left: 1450px;
    font-size: 13.5px;
}

.topbarlink{
    text-decoration: none;
    /* font-weight: bold; */
    color: black;
}

.svg1{
    position: absolute;
    width: 19px;
    height: 19px;
    margin-left: 5px;
    margin-top: -3px;
}

.container{
    position: sticky;
    top: 0;
    height: 200px;
    background-color: white;
    box-shadow: 0px 0px 7px;
    /* made the container content functional while video playing on its background */
    z-index: 1001;
}

.logo{
    cursor: pointer;
    width: 245px;
    height: 34px;
    margin-top: 65px;
}

nav{
    margin-right: 39px;
}

ul li{
    display: inline-block;
    margin: 0 15px;
}

.navlinks{
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.navlinks::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -23.5px;
    background: black;
    transform: translateY(2px);
    transition: transform 0.4s ease;
    opacity: 0;
}

.navlinks:hover::after{
    transform: translateY(0);
    opacity: 100%;
}

.div1{
    width: 100%;
    height: 28px;
    background-color: black;
    color: white;
    font-size: 15px;
    display: flex;
    /* vertical */
    align-items: center;
    /* horizontal */
    justify-content: center;
}

.div1link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.div1link:hover{
    text-decoration: underline;
}

#memberships{
    color: #ae2c34;
}

.image1{
    width: 100%;
    -webkit-user-drag: none;
}

.div2{
    color: wheat;
    text-shadow: 4px 5px black;
    margin-top: -300px;
    font-size: 32px;
}

.h1thick{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h3sale{
    margin-top: -25px;
}

.h1team{
    margin-top: 115px;
    margin-left: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.team{
    margin-left: 100px;
}

.teamdiv{
    width: 300px;
    height: 300px;
    border-top: solid 2px black;
    display: inline-block;
    margin-top: 50px;
    margin-right: 100px;
    padding: 30px;
}

.teamdiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 15px;
    box-shadow: 0px 1px 5px grey;
}

.teamdiv-more{
    display: inline-block;
}

.teamdiv-img{
    float: left;
    margin-left: 230px;
    margin-top: 55px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 5px grey;
}

.teamdiv-info{
    text-align: left;
    position: absolute;
    margin-left: 650px;
}

.pos{
    margin-top: -15px;
    margin-left: 3px;
    font-size: 21px;
}

.personal-info{
    font-size: 16px;
    margin-left: 5px;
}

.name{
    font-size: 20px;
    font-weight: bold;
}

.position{
    font-size: 17px;
    margin-top: -6px;
}

#fitnessleader{
    color: #ae2c34;
}

.privacy, .review, .terms{
    width: 100%;
    margin-top: 23px;
}

.btn{
    width: 125px;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    border: solid 0.5px #e7e7e7;
    color: #ffffff;
    background-color: black; 
    transition: background-color 0.2s;
}

.btn:hover{
    background-color: #2c2c2c; 
    cursor: pointer;   
}

.workoutvid{
    width: 100%;
    height: 890px;
    margin-top: 90px;
}

.title1{
    font-weight: bold;
    font-size: 24px;
}

.titletext1{
    font-size: 18px;
    margin-top: -18px;
}

.div3{
    text-align: left;
    margin-top: 80px;
    margin-left: 300px;
}

.div4{
    width: 100%;
    height: 80px;
    margin-top: 15px;
    color: white;
    background-color: black;
    display: flex;
    /* vertical */
    align-items: center;
    /* horizontal */
    justify-content: center;
}

footer{
    width: 100%;
    height: 300px;
    background-color: #f1f1f1;
    border-bottom: solid 1px rgb(209, 208, 208);
}

footer .customerservice, .myaccount, .policies, .followus{
    padding: 20px 55px;
    font-size: 18px;
    cursor: pointer;
    text-align: left;
    display: inline-block;
    /* align everything vertically as well */
    vertical-align: top;
}

.policy{
    text-align: left;
    margin-top: 30px;
    margin-left: 160px;
}

.title2{
    font-weight: bold;
}

.footerlinks{
    text-decoration: none;
    color: #333333;
}

.footerlinks:hover{
    text-decoration: underline;
}


.div5{
    position: relative;
    width: 100%;
    height: 78px;
    background-color: white;
    display: flex;
    /* vertical */
    align-items: center;
}

.div5logo{
    width: 156px;
    height: 27px;
    float: right;
    margin-left: 1150px;
}

.payments{
    position: absolute;
    margin-left: 150px;
    margin-top: -13px;
    -webkit-user-drag: none;
    user-select: none;
}

.socials img{
    width: 30px;
    height: 30px;
    margin-left: 3px;
}

.socials img:hover{
    transform: scale(1.1);
    filter: brightness(50%);  
}

#twitter{
    position: absolute;
    width: 34px;
    height: 34px;
    margin-top: -2px;
    margin-left: 5px;
    color: red;
}

.left{
    text-align: left;
    margin-top: 50px;
    margin-left: 170px;
}

.pagelinks a{
    font-size: 15px;
    text-decoration: none;
}

.abouttext{
    font-size: 21px;
    margin-top: 35px;
}

.link1{
    color: black;
}

.slash{
    user-select: none;
    color: rgb(80, 80, 80);
}

.link2{
    color: rgb(61, 61, 61);
}

.thick{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 1rem auto;
    margin-top: -7px;
    float: left;
}

.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 2.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    /* ICON */
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    /* ICON */
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid grey;
}

.membershipcont{
    margin-top: -7px;
    margin-left: 38px;
}

.membership1{
    width: 350px;
    height: 260px;
    border: solid 1px grey;
    display: inline-block;
    /* keep everything in one line after inline-block */
    vertical-align: top;
    margin-top: 25px;
    margin-left: 25px;
}

.membership1:hover{
    box-shadow: 0 0 15px rgb(141, 141, 141);
    transition: 0.2s ease-out;
}

.membership-title{
    width: 100%;
    height: 60px;
    color: white;
    font-weight: bold;
    background-color: black;
    font-size: 19px;
    display: flex;
    /* vertical */
    align-items: center;
    /* horizontal */
    justify-content: center;
}

.membership-price{
    width: 100%;
    height: 60px;
    font-size: 18px;
    display: flex;
    /* vertical */
    align-items: center;
    /* horizontal */
    justify-content: center;
}

.membership-time{
    width: 100%;
    height: 60px;
    color: white;
    background-color: black;
    font-size: 18px;
    display: flex;
    /* vertical */
    align-items: center;
    /* horizontal */
    justify-content: center;
}

.membership-buttons{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    /* vertical */
    align-items: center;
    /* horizontal */
    justify-content: center;
}

#btn-purchase{
    background-color: rgb(255, 81, 0);
}

#btn-purchase:hover{
    background-color: rgb(247, 109, 45);
}

.facility-tbilisi img{
    width: 80%;
    -webkit-user-drag: none;
    margin-top: 25px;
}

.facility-batumi img{
    width: 80%;
    -webkit-user-drag: none;
    margin-top: 5px;
}

.contactinfo1{
    margin-left: 170px;
    text-align: left;
}

.infoinp{
    margin-right: 635px;
}

.inp{
    width: 600px;
    height: 40px;
    font-size: 16px;
    border-radius: 1px;
    border: solid 0.5px grey;
    padding-left: 5px;
    margin-bottom: -6px;
}

.btn-contact{
    width: 611px;
    height: 47px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    border: solid 0.5px #e7e7e7;
    color: #ffffff;
    background-color: black; 
    transition: background-color 0.2s;
    margin-left: -1px;
}

.btn-contact:hover{
    background-color: #2c2c2c; 
    cursor: pointer; 
}

.mail a{
    text-decoration: underline;
    color: black;
}

.mail a:hover{
    color: rgb(61, 61, 61);
    cursor: pointer;
}

.auth-container{
    margin-top: 20px;
    margin-left: 167px;
    text-align: left;
    border-right: solid 1px silver;
}

.auth-container a{
    color: black;
}

.auth-inputs{
    width: 500px;
    height: 40px;
    font-size: 16px;
    border-radius: 1px;
    border: solid 0.5px grey;
    padding-left: 5px;
    margin-bottom: -6px;
}

label{
    margin-top: -15px;
}

.table{
    text-align: left;
    margin-top: 20px;
    margin-left: 167px;
    border-bottom: solid 1px grey;
    padding: 0 35px;
}

.table th{
    padding: 0 15px;
}

.table td{
    padding: 0 15px;
}

.logoutlink{
    color: black;
}

.logoutlink:hover{
    color: rgb(61, 61, 61);
}

.panel{
    margin-right: 805px;
}

.panel a{
    color: black;
}

.panel:hover a{
    color: rgb(61, 61, 61);
}

.actions{
    color: black;
}

.actions:hover{
    color: rgb(61, 61, 61);
}

.actionadd{
    margin-right: 1210px;
    color: black;
}

.actionadd:hover{
    color: rgb(61, 61, 61);
}